USE [master]
GO
/****** Object:  Database [EStatementMasked_NCC]    Script Date: 1/8/2022 2:38:35 PM ******/
CREATE DATABASE [EStatementMasked_NCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EStatementMasked_NCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EStatementMasked_NCC.mdf' , SIZE = 49152KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EStatementMasked_NCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EStatementMasked_NCC_log.ldf' , SIZE = 102144KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EStatementMasked_NCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EStatementMasked_NCC]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSmtpConfiguration]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_AddSmtpConfiguration]
(
@fid	nvarchar(50)= null,
@Smtp_Server nvarchar(50)= null,
@Smtp_Port	int=0,
@EnableSSL	int=0,
@From_Address	nvarchar(50)= null,
@From_User	nvarchar(50)= null,
@From_Password	nvarchar(50)= null,
@Status	int = 0
)
as
begin
	declare @count int
	set @count= (select count(fiid) from cnf_smtp_server where status=1 and fiid=@fid)
		if(@count=0)
			Begin
				insert into CNF_SMTP_SERVER (FIID,Smtp_Server,Smtp_Port,EnableSSL,From_Address,From_User,From_Password,Status)
				values (@fid,@Smtp_Server,@Smtp_Port,@EnableSSL,@From_Address,@From_User,@From_Password,@Status)
			end
		else if(@count=1)
			Begin
				update CNF_SMTP_SERVER 
					Set Smtp_Server=@Smtp_Server,
						Smtp_Port=@Smtp_Port,
						EnableSSL=@EnableSSL,
						From_Address=@From_Address,
						From_User=@From_User,
						From_Password=@From_Password,
						Status=@Status
				where FIID =@fid
			end
end


GO
/****** Object:  StoredProcedure [dbo].[sp_ArchievePreviousData]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ArchievePreviousData]
as
begin
	--1. Take Data Backup to Archive Table
	insert into EMAIL_NOTIFICATION_ARC
		select * from EMAIL_NOTIFICATION;

	--2.Delete data from Email Table
	delete from EMAIL_NOTIFICATION;

	--3.Archieve all previous statement data
	insert into statement_info_arc
	select * from statement_info;
	
	insert into statement_details_arc
	select * from statement_details;
	
	--4.Clear all previous statement data
	Truncate table statement_details;
	delete from statement_info;
end


GO
/****** Object:  StoredProcedure [dbo].[sp_GetSmtpConfiguration]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetSmtpConfiguration]
(
	@fid	nvarchar(50)= null
)
as
Begin
	select * from cnf_smtp_server where status=1 and fiid=@fid
end


GO
/****** Object:  StoredProcedure [dbo].[sp_SmtpConfiguration]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_SmtpConfiguration]
(
@fid	nvarchar(50)= null,
@Smtp_Server nvarchar(50)= null,
@Smtp_Port	int=0,
@EnableSSL	int=0,
@From_Address	nvarchar(50)= null,
@From_User	nvarchar(50)= null,
@From_Password	nvarchar(50)= null,
@Status	int = 0
)
as
begin
	declare @count int
	set @count= (select count(fiid) from cnf_smtp_server where status=1 and fiid=@fid)
		if(@count=0)
			Begin
				insert into CNF_SMTP_SERVER (FIID,Smtp_Server,Smtp_Port,EnableSSL,From_Address,From_User,From_Password,Status)
				values (@fid,@Smtp_Server,@Smtp_Port,@EnableSSL,@From_Address,@From_User,@From_Password,@Status)
			end
		else if(@count=1)
			Begin
				update CNF_SMTP_SERVER 
					Set Smtp_Server=@Smtp_Server,
						Smtp_Port=@Smtp_Port,
						EnableSSL=@EnableSSL,
						From_Address=@From_Address,
						From_User=@From_User,
						From_Password=@From_Password,
						Status=@Status
				where FIID =@fid
			end
end


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSmtpConfiguration]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_UpdateSmtpConfiguration]
(
@fid	nvarchar(50)= null,
@Smtp_Server nvarchar(50)= null,
@Smtp_Port	int=0,
@EnableSSL	int=0,
@From_Address	nvarchar(50)= null,
@From_User	nvarchar(50)= null,
@From_Password	nvarchar(50)= null,
@Status	int = 0
)
as
Begin
	update CNF_SMTP_SERVER 
		Set Smtp_Server=@Smtp_Server,
			Smtp_Port=@Smtp_Port,
			EnableSSL=@EnableSSL,
			From_Address=@From_Address,
			From_User=@From_User,
			From_Password=@From_Password,
			Status=@Status
	where FIID =@fid
end


GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[STATEMENTNO] [varchar](40) NULL,
	[ACCOUNTNO] [varchar](40) NULL,
	[ACURN] [varchar](40) NULL,
	[SBALANCE] [varchar](40) NULL,
	[ACURC] [varchar](40) NULL,
	[EBALANCE] [varchar](40) NULL,
	[AVAIL_CRD_LIMIT] [varchar](40) NULL,
	[AVAIL_CASH_LIMIT] [varchar](40) NULL,
	[SUM_WITHDRAWAL] [varchar](40) NULL,
	[SUM_INTEREST] [varchar](40) NULL,
	[OVLFEE_AMOUNT] [varchar](40) NULL,
	[OVDFEE_AMOUNT] [varchar](40) NULL,
	[SUM_REVERSE] [varchar](40) NULL,
	[SUM_CREDIT] [varchar](40) NULL,
	[SUM_OTHER] [varchar](40) NULL,
	[SUM_PURCHASE] [varchar](40) NULL,
	[MIN_AMOUNT_DUE] [varchar](40) NULL,
	[CASH_LIMIT] [varchar](40) NULL,
	[CRD_LIMIT] [varchar](40) NULL,
	[INSTALL_UNPAID_AMOUNT] [varchar](40) NULL,
	[INSTALL_MONTH_PAYM] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccumIntAcc]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccumIntAcc](
	[StatementNo] [varchar](50) NULL,
	[ACCUM_INT_RRELEASE] [varchar](50) NULL,
	[ACCUM_INT_EBALANCE] [varchar](50) NULL,
	[ACCUM_INT_SBALANCE] [varchar](50) NULL,
	[ACCUM_INT_AMOUNT] [varchar](50) NULL,
	[ACCOUNT_NO] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BonusContrAcc]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BonusContrAcc](
	[STATEMENTNO] [varchar](40) NULL,
	[SUM_CREDIT] [numeric](18, 2) NULL,
	[SUM_DEBIT] [numeric](18, 2) NULL,
	[EBALANCE] [numeric](18, 2) NULL,
	[ACCOUNT_NO] [varchar](40) NULL,
	[ACURN] [varchar](40) NULL,
	[ACURC] [varchar](40) NULL,
	[SBALANCE] [numeric](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARD]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARD](
	[STATEMENTNO] [varchar](40) NULL,
	[PAN] [varchar](40) NULL,
	[MBR] [varchar](40) NULL,
	[CLIENTNAME] [varchar](300) NULL,
	[SLNO] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CNF_SMTP_SERVER]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_SMTP_SERVER](
	[FIID] [nvarchar](50) NULL,
	[Smtp_Server] [nvarchar](50) NULL,
	[Smtp_Port] [int] NULL,
	[EnableSSL] [bit] NULL,
	[From_Address] [nvarchar](50) NULL,
	[From_User] [nvarchar](50) NULL,
	[From_Password] [nvarchar](50) NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CURRENCYCODE]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CURRENCYCODE](
	[ID] [varchar](50) NULL,
	[OCC] [varchar](50) NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMAIL_NOTIFICATION]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMAIL_NOTIFICATION](
	[BANK_CODE] [varchar](20) NULL,
	[PAN_NUMBER] [varchar](20) NULL,
	[STMDATE] [varchar](20) NULL,
	[STM_MONTH] [varchar](20) NULL,
	[STM_YEAR] [varchar](20) NULL,
	[FILE_LOCATION] [varchar](200) NULL,
	[MAILADDRESS] [varchar](100) NULL,
	[MAILSUBJECT] [varchar](1000) NULL,
	[MAILBODY] [varchar](1000) NULL,
	[STATUS] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMAIL_NOTIFICATION_ARC]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMAIL_NOTIFICATION_ARC](
	[BANK_CODE] [varchar](20) NULL,
	[PAN_NUMBER] [varchar](20) NULL,
	[STMDATE] [varchar](20) NULL,
	[STM_MONTH] [varchar](20) NULL,
	[STM_YEAR] [varchar](20) NULL,
	[FILE_LOCATION] [varchar](200) NULL,
	[MAILADDRESS] [varchar](100) NULL,
	[MAILSUBJECT] [varchar](1000) NULL,
	[MAILBODY] [varchar](1000) NULL,
	[STATUS] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOLD]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOLD](
	[STATEMENTNO] [varchar](40) NULL,
	[O] [varchar](150) NULL,
	[OD] [varchar](150) NULL,
	[TD] [varchar](150) NULL,
	[A] [varchar](100) NULL,
	[ACURC] [varchar](40) NULL,
	[ACURN] [varchar](40) NULL,
	[D] [varchar](500) NULL,
	[P] [varchar](40) NULL,
	[OA] [varchar](100) NULL,
	[OCC] [varchar](100) NULL,
	[OC] [varchar](100) NULL,
	[TL] [varchar](500) NULL,
	[TERMN] [varchar](500) NULL,
	[CF] [varchar](100) NULL,
	[S] [varchar](100) NULL,
	[ACCOUNT] [varchar](40) NULL,
	[APPROVAL] [varchar](100) NULL,
	[DE] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OPERATION]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERATION](
	[STATEMENTNO] [varchar](40) NULL,
	[O] [varchar](100) NULL,
	[OD] [varchar](100) NULL,
	[TD] [varchar](100) NULL,
	[A] [varchar](100) NULL,
	[ACURC] [varchar](40) NULL,
	[ACURN] [varchar](40) NULL,
	[D] [varchar](500) NULL,
	[DE] [varchar](500) NULL,
	[P] [varchar](40) NULL,
	[OA] [varchar](100) NULL,
	[OCC] [varchar](100) NULL,
	[OC] [varchar](100) NULL,
	[TL] [varchar](500) NULL,
	[TERMN] [varchar](500) NULL,
	[CF] [varchar](100) NULL,
	[S] [varchar](100) NULL,
	[MN] [varchar](500) NULL,
	[DOCNO] [varchar](100) NULL,
	[NO] [varchar](100) NULL,
	[ACCOUNT] [varchar](40) NULL,
	[ACC] [varchar](100) NULL,
	[FR] [varchar](500) NULL,
	[APPROVAL] [varchar](100) NULL,
	[AMOUNTSIGN] [nchar](10) NULL,
	[SERIALNO] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATEMENT]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMENT](
	[BANK_CODE] [varchar](20) NULL,
	[STATEMENTNO] [varchar](40) NULL,
	[ADDRESS] [varchar](500) NULL,
	[CARD_LIST] [varchar](500) NULL,
	[CATEGORY] [varchar](30) NULL,
	[CITY] [varchar](200) NULL,
	[CONTRACTNO] [varchar](40) NULL,
	[COUNTRY] [varchar](200) NULL,
	[EDUCATION] [varchar](200) NULL,
	[EMAIL] [varchar](140) NULL,
	[ENDDATE] [varchar](40) NULL,
	[CLIENT] [varchar](300) NULL,
	[IDCLIENT] [varchar](40) NULL,
	[FAX] [varchar](40) NULL,
	[JOBTITLE] [varchar](200) NULL,
	[CLIENTLAT] [varchar](300) NULL,
	[MAIN_CARD] [varchar](40) NULL,
	[MARITALSTATUS] [varchar](40) NULL,
	[MOBILE] [varchar](40) NULL,
	[NEXT_STATEMENT_DATE] [varchar](40) NULL,
	[OCCUPATION] [varchar](200) NULL,
	[OFFICEPHONE] [varchar](40) NULL,
	[PAYMENT_DATE] [varchar](40) NULL,
	[PAGER] [varchar](40) NULL,
	[PAGERNO] [varchar](40) NULL,
	[PERSONALCODE] [varchar](200) NULL,
	[PREVEMPLOYMENT] [varchar](200) NULL,
	[PROMOTIONALTEXT] [varchar](500) NULL,
	[REGION] [varchar](200) NULL,
	[STATEMENT_DATE] [varchar](40) NULL,
	[STATEMENT_PERIOD] [varchar](40) NULL,
	[SEX] [varchar](40) NULL,
	[STARTDATE] [varchar](40) NULL,
	[STATEMENTTYPE] [varchar](40) NULL,
	[SENDTYPE] [varchar](40) NULL,
	[STREETADDRESS] [varchar](500) NULL,
	[TPN] [varchar](40) NULL,
	[TELEPHONE] [varchar](40) NULL,
	[TITLE] [varchar](40) NULL,
	[ZIP] [varchar](40) NULL,
	[INDICATOR] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATEMENT_DETAILS]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMENT_DETAILS](
	[STATEMENTID] [varchar](40) NOT NULL,
	[CONTRACTNO] [varchar](40) NOT NULL,
	[IDCLIENT] [varchar](40) NOT NULL,
	[PAN] [varchar](40) NOT NULL,
	[ACCOUNTNO] [varchar](40) NOT NULL,
	[STATEMENTNO] [varchar](40) NULL,
	[TRNDATE] [varchar](50) NULL,
	[POSTDATE] [varchar](50) NULL,
	[TRNDESC] [varchar](500) NULL,
	[ACURN] [varchar](40) NULL,
	[AMOUNT] [numeric](18, 2) NULL,
	[OC] [varchar](40) NULL,
	[OCC] [varchar](50) NULL,
	[ORGAMOUNT] [numeric](18, 2) NULL,
	[AMOUNTSIGN] [nchar](10) NULL,
	[APPROVAL] [varchar](100) NULL,
	[AutoID] [bigint] IDENTITY(1,1) NOT NULL,
	[FR] [varchar](500) NULL,
	[SERIALNO] [varchar](40) NULL,
	[DE] [varchar](500) NULL,
	[DOCNO] [varchar](500) NULL,
	[NO] [varchar](500) NULL,
	[P] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATEMENT_DETAILS_ARC]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMENT_DETAILS_ARC](
	[STATEMENTID] [varchar](40) NOT NULL,
	[CONTRACTNO] [varchar](40) NOT NULL,
	[IDCLIENT] [varchar](40) NOT NULL,
	[PAN] [varchar](40) NOT NULL,
	[ACCOUNTNO] [varchar](40) NOT NULL,
	[STATEMENTNO] [varchar](40) NULL,
	[TRNDATE] [varchar](50) NULL,
	[POSTDATE] [varchar](50) NULL,
	[TRNDESC] [varchar](500) NULL,
	[ACURN] [varchar](40) NULL,
	[AMOUNT] [numeric](18, 2) NULL,
	[OC] [varchar](40) NULL,
	[OCC] [varchar](50) NULL,
	[ORGAMOUNT] [numeric](18, 2) NULL,
	[AMOUNTSIGN] [nchar](10) NULL,
	[APPROVAL] [varchar](100) NULL,
	[AutoID] [bigint] NULL,
	[FR] [varchar](500) NULL,
	[SERIALNO] [varchar](40) NULL,
	[DE] [varchar](500) NULL,
	[DOCNO] [varchar](500) NULL,
	[NO] [varchar](500) NULL,
	[P] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATEMENT_INFO]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMENT_INFO](
	[STATEMENTID] [varchar](40) NOT NULL,
	[BANK_CODE] [varchar](20) NULL,
	[CONTRACTNO] [varchar](40) NOT NULL,
	[IDCLIENT] [varchar](40) NOT NULL,
	[PAN] [varchar](40) NOT NULL,
	[TITLE] [varchar](40) NULL,
	[CLIENTNAME] [varchar](300) NULL,
	[JOBTITLE] [varchar](100) NULL,
	[STATEMENTNO] [varchar](40) NULL,
	[ADDRESS] [varchar](500) NULL,
	[CITY] [varchar](200) NULL,
	[ZIP] [varchar](40) NULL,
	[COUNTRY] [varchar](200) NULL,
	[EMAIL] [varchar](140) NULL,
	[MOBILE] [varchar](40) NULL,
	[STARTDATE] [varchar](40) NULL,
	[ENDDATE] [varchar](40) NULL,
	[NEXT_STATEMENT_DATE] [varchar](40) NULL,
	[PAYMENT_DATE] [varchar](40) NULL,
	[STATEMENT_DATE] [varchar](40) NULL,
	[ACCOUNTNO] [varchar](40) NOT NULL,
	[ACURN] [varchar](40) NULL,
	[SBALANCE] [numeric](18, 2) NULL,
	[ACURC] [varchar](40) NULL,
	[EBALANCE] [numeric](18, 2) NULL,
	[AVAIL_CRD_LIMIT] [numeric](18, 2) NULL,
	[AVAIL_CASH_LIMIT] [numeric](18, 2) NULL,
	[SUM_WITHDRAWAL] [numeric](18, 2) NULL,
	[SUM_INTEREST] [numeric](18, 2) NULL,
	[OVLFEE_AMOUNT] [numeric](18, 2) NULL,
	[OVDFEE_AMOUNT] [numeric](18, 2) NULL,
	[SUM_REVERSE] [numeric](18, 2) NULL,
	[SUM_CREDIT] [numeric](18, 2) NULL,
	[SUM_OTHER] [numeric](18, 2) NULL,
	[SUM_PURCHASE] [numeric](18, 2) NULL,
	[MIN_AMOUNT_DUE] [numeric](18, 2) NULL,
	[CASH_LIMIT] [numeric](18, 2) NULL,
	[CRD_LIMIT] [numeric](18, 2) NULL,
	[STM_MSG] [nvarchar](500) NULL,
	[STATUS] [varchar](50) NULL,
	[REGION] [varchar](200) NULL,
	[PROMOTIONALTEXT] [varchar](350) NULL,
	[INDICATOR] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATEMENT_INFO_ARC]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATEMENT_INFO_ARC](
	[STATEMENTID] [varchar](40) NOT NULL,
	[BANK_CODE] [varchar](20) NULL,
	[CONTRACTNO] [varchar](40) NOT NULL,
	[IDCLIENT] [varchar](40) NOT NULL,
	[PAN] [varchar](40) NOT NULL,
	[TITLE] [varchar](40) NULL,
	[CLIENTNAME] [varchar](300) NULL,
	[JOBTITLE] [varchar](100) NULL,
	[STATEMENTNO] [varchar](40) NULL,
	[ADDRESS] [varchar](150) NULL,
	[CITY] [varchar](200) NULL,
	[ZIP] [varchar](40) NULL,
	[COUNTRY] [varchar](200) NULL,
	[EMAIL] [varchar](40) NULL,
	[MOBILE] [varchar](40) NULL,
	[STARTDATE] [varchar](40) NULL,
	[ENDDATE] [varchar](40) NULL,
	[NEXT_STATEMENT_DATE] [varchar](40) NULL,
	[PAYMENT_DATE] [varchar](40) NULL,
	[STATEMENT_DATE] [varchar](40) NULL,
	[ACCOUNTNO] [varchar](40) NOT NULL,
	[ACURN] [varchar](40) NULL,
	[SBALANCE] [numeric](18, 2) NULL,
	[ACURC] [varchar](40) NULL,
	[EBALANCE] [numeric](18, 2) NULL,
	[AVAIL_CRD_LIMIT] [numeric](18, 2) NULL,
	[AVAIL_CASH_LIMIT] [numeric](18, 2) NULL,
	[SUM_WITHDRAWAL] [numeric](18, 2) NULL,
	[SUM_INTEREST] [numeric](18, 2) NULL,
	[OVLFEE_AMOUNT] [numeric](18, 2) NULL,
	[OVDFEE_AMOUNT] [numeric](18, 2) NULL,
	[SUM_REVERSE] [numeric](18, 2) NULL,
	[SUM_CREDIT] [numeric](18, 2) NULL,
	[SUM_OTHER] [numeric](18, 2) NULL,
	[SUM_PURCHASE] [numeric](18, 2) NULL,
	[MIN_AMOUNT_DUE] [numeric](18, 2) NULL,
	[CASH_LIMIT] [numeric](18, 2) NULL,
	[CRD_LIMIT] [numeric](18, 2) NULL,
	[STM_MSG] [nvarchar](500) NULL,
	[STATUS] [varchar](50) NULL,
	[REGION] [varchar](200) NULL,
	[PROMOTIONALTEXT] [varchar](350) NULL,
	[INDICATOR] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[CODE] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ACCUM_INTEREST_VW]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ACCUM_INTEREST_VW]
AS
SELECT     StatementNo, ACCUM_INT_RRELEASE, ACCUM_INT_EBALANCE, ACCUM_INT_SBALANCE, ACCUM_INT_AMOUNT, ACCOUNT_NO, CASE WHEN SUBSTRING(ACCOUNT_NO, 5, 3) 
                      = '050' THEN 'BDT' ELSE 'USD' END AS ACURN
FROM         dbo.AccumIntAcc


GO
/****** Object:  View [dbo].[SUM_OTHER_FORFIRSTEMI]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SUM_OTHER_FORFIRSTEMI]
AS
SELECT     CASE WHEN UPPER(dbo.STATEMENT_DETAILS.TRNDESC) = 'TRANSFER TO EMI' THEN dbo.STATEMENT_DETAILS.AMOUNT + dbo.STATEMENT_INFO.SUM_OTHER END AS SUM_OTHER, 
                      dbo.STATEMENT_DETAILS.CONTRACTNO, dbo.STATEMENT_DETAILS.IDCLIENT, dbo.STATEMENT_DETAILS.TRNDESC, dbo.STATEMENT_DETAILS.ACURN, 
                      dbo.STATEMENT_DETAILS.STATEMENTNO, dbo.STATEMENT_DETAILS.ACCOUNTNO
FROM         dbo.STATEMENT_DETAILS INNER JOIN
                      dbo.STATEMENT_INFO ON dbo.STATEMENT_DETAILS.CONTRACTNO = dbo.STATEMENT_INFO.CONTRACTNO AND 
                      dbo.STATEMENT_DETAILS.STATEMENTNO = dbo.STATEMENT_INFO.STATEMENTNO
WHERE     (UPPER(dbo.STATEMENT_DETAILS.TRNDESC) = 'TRANSFER TO EMI')


GO
/****** Object:  View [dbo].[TRANSFER_EMI]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TRANSFER_EMI]
AS
SELECT     CASE WHEN UPPER(dbo.STATEMENT_DETAILS.TRNDESC) = 'TRANSFER TO EMI' THEN dbo.STATEMENT_DETAILS.AMOUNT END AS TRANSFER_EMI, 
                      dbo.STATEMENT_DETAILS.CONTRACTNO, dbo.STATEMENT_DETAILS.IDCLIENT, dbo.STATEMENT_DETAILS.TRNDESC, dbo.STATEMENT_DETAILS.ACURN, 
                      dbo.STATEMENT_DETAILS.STATEMENTNO, dbo.STATEMENT_DETAILS.ACCOUNTNO
FROM         dbo.STATEMENT_DETAILS INNER JOIN
                      dbo.STATEMENT_INFO ON dbo.STATEMENT_DETAILS.CONTRACTNO = dbo.STATEMENT_INFO.CONTRACTNO AND 
                      dbo.STATEMENT_DETAILS.STATEMENTNO = dbo.STATEMENT_INFO.STATEMENTNO
WHERE     (UPPER(dbo.STATEMENT_DETAILS.TRNDESC) = 'TRANSFER TO EMI')


GO
/****** Object:  View [dbo].[Statement_USD]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Statement_USD]
AS
SELECT     dbo.STATEMENT_INFO.BANK_CODE, dbo.STATEMENT_INFO.TITLE + ' ' + dbo.STATEMENT_INFO.CLIENTNAME AS CLIENT, dbo.STATEMENT_INFO.JOBTITLE, dbo.STATEMENT_INFO.ADDRESS, 
                      dbo.STATEMENT_INFO.CITY, dbo.STATEMENT_INFO.COUNTRY, dbo.STATEMENT_INFO.ZIP, dbo.STATEMENT_INFO.PAN, dbo.STATEMENT_INFO.ACURN, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.CRD_LIMIT, 10) END AS CRD_LIMIT, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT, 10) END AS AVAIL_CRD_LIMIT, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT, 10) END AS AVAIL_CASH_LIMIT, 
                      CASE WHEN (CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) < ABS(dbo.STATEMENT_INFO.EBALANCE)) THEN CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) 
                      ELSE dbo.STATEMENT_INFO.MIN_AMOUNT_DUE END AS MIN_AMOUNT_DUE, dbo.STATEMENT_INFO.SBALANCE, dbo.STATEMENT_INFO.SUM_PURCHASE, 
                      dbo.STATEMENT_INFO.SUM_WITHDRAWAL, dbo.STATEMENT_INFO.SUM_INTEREST, dbo.STATEMENT_INFO.SUM_OTHER, dbo.STATEMENT_INFO.SUM_CREDIT, 
                      dbo.STATEMENT_INFO.OVLFEE_AMOUNT, dbo.STATEMENT_INFO.OVDFEE_AMOUNT, dbo.STATEMENT_INFO.CASH_LIMIT, dbo.STATEMENT_INFO.SUM_REVERSE, 
                      dbo.STATEMENT_INFO.EBALANCE, dbo.STATEMENT_INFO.NEXT_STATEMENT_DATE, dbo.STATEMENT_INFO.PAYMENT_DATE, dbo.STATEMENT_INFO.STATEMENT_DATE, 
                      dbo.STATEMENT_DETAILS.TRNDATE, dbo.STATEMENT_DETAILS.POSTDATE, UPPER(dbo.STATEMENT_DETAILS.TRNDESC) AS TRNDESC, dbo.STATEMENT_DETAILS.AMOUNT, 
                      dbo.STATEMENT_DETAILS.APPROVAL, dbo.STATEMENT_INFO.EMAIL, dbo.STATEMENT_INFO.STM_MSG, dbo.STATEMENT_INFO.STARTDATE, dbo.STATEMENT_INFO.ENDDATE, 
                      dbo.STATEMENT_DETAILS.AMOUNTSIGN, dbo.STATEMENT_INFO.CONTRACTNO, dbo.STATEMENT_DETAILS.OC, dbo.STATEMENT_DETAILS.ORGAMOUNT, dbo.STATEMENT_INFO.IDCLIENT, 
                      dbo.BonusContrAcc.SUM_CREDIT AS SUM_CREDIT_FORBONUS, dbo.BonusContrAcc.SUM_DEBIT AS SUM_DEBIT_FORBONUS, dbo.BonusContrAcc.EBALANCE AS EBALANCE_FORBONUS, 
                      dbo.BonusContrAcc.SBALANCE AS SBALANCE_FORBONUS, dbo.STATEMENT_DETAILS.AutoID, dbo.STATEMENT_INFO.STATEMENTNO, dbo.ACCUM_INTEREST_VW.ACCUM_INT_RRELEASE, 
                      dbo.ACCUM_INTEREST_VW.ACCUM_INT_EBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_SBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_AMOUNT, 
                      dbo.SUM_OTHER_FORFIRSTEMI.SUM_OTHER AS SUM_OTHER_FORFIRSTEMI, dbo.TRANSFER_EMI.TRANSFER_EMI, dbo.STATEMENT_DETAILS.FR, dbo.STATEMENT_DETAILS.SERIALNO, 
                      dbo.STATEMENT_DETAILS.DE
FROM         dbo.STATEMENT_INFO LEFT OUTER JOIN
                      dbo.TRANSFER_EMI ON dbo.STATEMENT_INFO.ACCOUNTNO = dbo.TRANSFER_EMI.ACCOUNTNO AND dbo.STATEMENT_INFO.IDCLIENT = dbo.TRANSFER_EMI.IDCLIENT AND 
                      dbo.STATEMENT_INFO.CONTRACTNO = dbo.TRANSFER_EMI.CONTRACTNO LEFT OUTER JOIN
                      dbo.SUM_OTHER_FORFIRSTEMI ON dbo.STATEMENT_INFO.CONTRACTNO = dbo.SUM_OTHER_FORFIRSTEMI.CONTRACTNO LEFT OUTER JOIN
                      dbo.ACCUM_INTEREST_VW ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.ACCUM_INTEREST_VW.StatementNo AND 
                      dbo.STATEMENT_INFO.ACURN = dbo.ACCUM_INTEREST_VW.ACURN LEFT OUTER JOIN
                      dbo.BonusContrAcc ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.BonusContrAcc.STATEMENTNO LEFT OUTER JOIN
                      dbo.STATEMENT INNER JOIN
                      dbo.STATEMENT_DETAILS ON dbo.STATEMENT.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.STATEMENT.CONTRACTNO = dbo.STATEMENT_DETAILS.CONTRACTNO ON 
                      dbo.STATEMENT_INFO.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.STATEMENT_INFO.CONTRACTNO = dbo.STATEMENT_DETAILS.CONTRACTNO AND 
                      dbo.STATEMENT_INFO.ACCOUNTNO = dbo.STATEMENT_DETAILS.ACCOUNTNO
WHERE     (dbo.STATEMENT_INFO.ACURN = 'USD') AND (SUBSTRING(ISNULL(dbo.STATEMENT_DETAILS.TRNDESC, 0), 1, 18) <> 'MARK UP PROFIT (R)')


GO
/****** Object:  View [dbo].[statement_DUAL]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[statement_DUAL]
AS
SELECT        dbo.STATEMENT_INFO.BANK_CODE, dbo.STATEMENT_INFO.TITLE + ' ' + dbo.STATEMENT_INFO.CLIENTNAME AS CLIENT, dbo.STATEMENT_INFO.JOBTITLE, dbo.STATEMENT_INFO.ADDRESS, dbo.STATEMENT_INFO.CITY, 
                         dbo.STATEMENT_INFO.COUNTRY, dbo.STATEMENT_INFO.ZIP, dbo.STATEMENT_INFO.PAN, dbo.STATEMENT_INFO.ACURN, 
                         CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.CRD_LIMIT, 10) END AS CRD_LIMIT, 
                         CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT, 10) END AS AVAIL_CRD_LIMIT, 
                         CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT, 10) END AS AVAIL_CASH_LIMIT, 
                         CASE WHEN (CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) < ABS(dbo.STATEMENT_INFO.EBALANCE) + ABS(ISNULL(dbo.ACCUM_INTEREST_VW.ACCUM_INT_EBALANCE, '0.00'))) 
                         THEN CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) ELSE dbo.STATEMENT_INFO.MIN_AMOUNT_DUE END AS MIN_AMOUNT_DUE, dbo.STATEMENT_INFO.SBALANCE, dbo.STATEMENT_INFO.SUM_PURCHASE, 
                         dbo.STATEMENT_INFO.SUM_WITHDRAWAL, dbo.STATEMENT_INFO.SUM_INTEREST, dbo.STATEMENT_INFO.SUM_OTHER, dbo.STATEMENT_INFO.SUM_CREDIT, dbo.STATEMENT_INFO.OVLFEE_AMOUNT, 
                         dbo.STATEMENT_INFO.OVDFEE_AMOUNT, dbo.STATEMENT_INFO.CASH_LIMIT, dbo.STATEMENT_INFO.SUM_REVERSE, dbo.STATEMENT_INFO.EBALANCE, dbo.STATEMENT_INFO.NEXT_STATEMENT_DATE, 
                         dbo.STATEMENT_INFO.PAYMENT_DATE, dbo.STATEMENT_INFO.STATEMENT_DATE, dbo.STATEMENT_DETAILS.TRNDATE, dbo.STATEMENT_DETAILS.POSTDATE, UPPER(dbo.STATEMENT_DETAILS.TRNDESC) AS TRNDESC, 
                         dbo.STATEMENT_DETAILS.AMOUNT, dbo.STATEMENT_DETAILS.APPROVAL, dbo.STATEMENT_INFO.EMAIL, dbo.STATEMENT_INFO.STM_MSG, dbo.STATEMENT_INFO.STARTDATE, dbo.STATEMENT_INFO.ENDDATE, 
                         dbo.STATEMENT_DETAILS.AMOUNTSIGN, dbo.STATEMENT_INFO.CONTRACTNO, dbo.STATEMENT_DETAILS.OC, dbo.STATEMENT_DETAILS.ORGAMOUNT, dbo.STATEMENT_INFO.IDCLIENT, 
                         dbo.BonusContrAcc.SUM_CREDIT AS SUM_CREDIT_FORBONUS, dbo.BonusContrAcc.SUM_DEBIT AS SUM_DEBIT_FORBONUS, dbo.BonusContrAcc.EBALANCE AS EBALANCE_FORBONUS, 
                         dbo.BonusContrAcc.SBALANCE AS SBALANCE_FORBONUS, dbo.STATEMENT_DETAILS.AutoID, dbo.STATEMENT_INFO.STATEMENTNO, dbo.ACCUM_INTEREST_VW.ACCUM_INT_RRELEASE, 
                         dbo.ACCUM_INTEREST_VW.ACCUM_INT_EBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_SBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_AMOUNT, dbo.STATEMENT_DETAILS.FR, 
                         dbo.STATEMENT_DETAILS.SERIALNO, dbo.STATEMENT_DETAILS.DE, dbo.STATEMENT_DETAILS.DOCNO, dbo.STATEMENT_DETAILS.NO, dbo.STATEMENT_DETAILS.P, dbo.CARD.CLIENTNAME, 
                         CASE WHEN dbo.CARD.SLNO IS NULL THEN '99' ELSE dbo.CARD.SLNO END AS SL, dbo.STATEMENT_INFO.PROMOTIONALTEXT, dbo.STATEMENT_INFO.INDICATOR
FROM            dbo.CARD RIGHT OUTER JOIN
                         dbo.STATEMENT INNER JOIN
                         dbo.STATEMENT_DETAILS ON dbo.STATEMENT.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.STATEMENT.CONTRACTNO = dbo.STATEMENT_DETAILS.CONTRACTNO ON 
                         dbo.CARD.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.CARD.PAN = dbo.STATEMENT_DETAILS.P RIGHT OUTER JOIN
                         dbo.STATEMENT_INFO LEFT OUTER JOIN
                         dbo.ACCUM_INTEREST_VW ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.ACCUM_INTEREST_VW.StatementNo AND dbo.STATEMENT_INFO.ACURN = dbo.ACCUM_INTEREST_VW.ACURN LEFT OUTER JOIN
                         dbo.BonusContrAcc ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.BonusContrAcc.STATEMENTNO ON dbo.STATEMENT_DETAILS.STATEMENTNO = dbo.STATEMENT_INFO.STATEMENTNO AND 
                         dbo.STATEMENT_DETAILS.CONTRACTNO = dbo.STATEMENT_INFO.CONTRACTNO AND dbo.STATEMENT_DETAILS.ACCOUNTNO = dbo.STATEMENT_INFO.ACCOUNTNO
WHERE        (SUBSTRING(ISNULL(dbo.STATEMENT_DETAILS.TRNDESC, 0), 1, 18) <> 'MARK UP PROFIT (R)') 
--AND ((CASE WHEN ((dbo.STATEMENT_DETAILS.TRNDESC) IS NOT NULL) THEN 1 WHEN ((dbo.STATEMENT_DETAILS.TRNDESC) 
                         --IS NULL) AND (dbo.STATEMENT_INFO.EBALANCE <> 0) THEN 1 END) = 1)

GO
/****** Object:  View [dbo].[Statement_BDT]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Statement_BDT]
AS
SELECT     dbo.STATEMENT_INFO.BANK_CODE, dbo.STATEMENT_INFO.TITLE + ' ' + dbo.STATEMENT_INFO.CLIENTNAME AS CLIENT, dbo.STATEMENT_INFO.JOBTITLE, dbo.STATEMENT_INFO.ADDRESS, 
                      dbo.STATEMENT_INFO.CITY, dbo.STATEMENT_INFO.COUNTRY, dbo.STATEMENT_INFO.ZIP, dbo.STATEMENT_INFO.PAN, dbo.STATEMENT_INFO.ACURN, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.CRD_LIMIT, 10) END AS CRD_LIMIT, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CRD_LIMIT, 10) END AS AVAIL_CRD_LIMIT, 
                      CASE WHEN dbo.STATEMENT_INFO.ACURN = 'BDT' THEN dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT ELSE round(dbo.STATEMENT_INFO.AVAIL_CASH_LIMIT, 10) END AS AVAIL_CASH_LIMIT, 
                      CASE WHEN (CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) < ABS(dbo.STATEMENT_INFO.EBALANCE)) THEN CEILING(dbo.STATEMENT_INFO.MIN_AMOUNT_DUE) 
                      ELSE dbo.STATEMENT_INFO.MIN_AMOUNT_DUE END AS MIN_AMOUNT_DUE, dbo.STATEMENT_INFO.SBALANCE, dbo.STATEMENT_INFO.SUM_PURCHASE, 
                      dbo.STATEMENT_INFO.SUM_WITHDRAWAL, dbo.STATEMENT_INFO.SUM_INTEREST, dbo.STATEMENT_INFO.SUM_OTHER, dbo.STATEMENT_INFO.SUM_CREDIT, 
                      dbo.STATEMENT_INFO.OVLFEE_AMOUNT, dbo.STATEMENT_INFO.OVDFEE_AMOUNT, dbo.STATEMENT_INFO.CASH_LIMIT, dbo.STATEMENT_INFO.SUM_REVERSE, 
                      dbo.STATEMENT_INFO.EBALANCE, dbo.STATEMENT_INFO.NEXT_STATEMENT_DATE, dbo.STATEMENT_INFO.PAYMENT_DATE, dbo.STATEMENT_INFO.STATEMENT_DATE, 
                      dbo.STATEMENT_DETAILS.TRNDATE, dbo.STATEMENT_DETAILS.POSTDATE, UPPER(dbo.STATEMENT_DETAILS.TRNDESC) AS TRNDESC, dbo.STATEMENT_DETAILS.AMOUNT, 
                      dbo.STATEMENT_DETAILS.APPROVAL, dbo.STATEMENT_INFO.EMAIL, dbo.STATEMENT_INFO.STM_MSG, dbo.STATEMENT_INFO.STARTDATE, dbo.STATEMENT_INFO.ENDDATE, 
                      dbo.STATEMENT_DETAILS.AMOUNTSIGN, dbo.STATEMENT_INFO.CONTRACTNO, dbo.STATEMENT_DETAILS.OC, dbo.STATEMENT_DETAILS.ORGAMOUNT, dbo.STATEMENT_INFO.IDCLIENT, 
                      dbo.BonusContrAcc.SUM_CREDIT AS SUM_CREDIT_FORBONUS, dbo.BonusContrAcc.SUM_DEBIT AS SUM_DEBIT_FORBONUS, dbo.BonusContrAcc.EBALANCE AS EBALANCE_FORBONUS, 
                      dbo.BonusContrAcc.SBALANCE AS SBALANCE_FORBONUS, dbo.STATEMENT_DETAILS.AutoID, dbo.STATEMENT_INFO.STATEMENTNO, dbo.ACCUM_INTEREST_VW.ACCUM_INT_RRELEASE, 
                      dbo.ACCUM_INTEREST_VW.ACCUM_INT_EBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_SBALANCE, dbo.ACCUM_INTEREST_VW.ACCUM_INT_AMOUNT, 
                      dbo.SUM_OTHER_FORFIRSTEMI.SUM_OTHER AS SUM_OTHER_FORFIRSTEMI, dbo.TRANSFER_EMI.TRANSFER_EMI, dbo.STATEMENT_DETAILS.FR, dbo.STATEMENT_DETAILS.SERIALNO, 
                      dbo.STATEMENT_DETAILS.DE
FROM         dbo.STATEMENT_INFO LEFT OUTER JOIN
                      dbo.TRANSFER_EMI ON dbo.STATEMENT_INFO.ACCOUNTNO = dbo.TRANSFER_EMI.ACCOUNTNO AND dbo.STATEMENT_INFO.IDCLIENT = dbo.TRANSFER_EMI.IDCLIENT AND 
                      dbo.STATEMENT_INFO.CONTRACTNO = dbo.TRANSFER_EMI.CONTRACTNO LEFT OUTER JOIN
                      dbo.SUM_OTHER_FORFIRSTEMI ON dbo.STATEMENT_INFO.CONTRACTNO = dbo.SUM_OTHER_FORFIRSTEMI.CONTRACTNO LEFT OUTER JOIN
                      dbo.ACCUM_INTEREST_VW ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.ACCUM_INTEREST_VW.StatementNo AND 
                      dbo.STATEMENT_INFO.ACURN = dbo.ACCUM_INTEREST_VW.ACURN LEFT OUTER JOIN
                      dbo.BonusContrAcc ON dbo.STATEMENT_INFO.STATEMENTNO = dbo.BonusContrAcc.STATEMENTNO LEFT OUTER JOIN
                      dbo.STATEMENT INNER JOIN
                      dbo.STATEMENT_DETAILS ON dbo.STATEMENT.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.STATEMENT.CONTRACTNO = dbo.STATEMENT_DETAILS.CONTRACTNO ON 
                      dbo.STATEMENT_INFO.STATEMENTNO = dbo.STATEMENT_DETAILS.STATEMENTNO AND dbo.STATEMENT_INFO.CONTRACTNO = dbo.STATEMENT_DETAILS.CONTRACTNO AND 
                      dbo.STATEMENT_INFO.ACCOUNTNO = dbo.STATEMENT_DETAILS.ACCOUNTNO
WHERE     (dbo.STATEMENT_INFO.ACURN = 'BDT') AND (SUBSTRING(ISNULL(dbo.STATEMENT_DETAILS.TRNDESC, 0), 1, 18) <> 'MARK UP PROFIT (R)')


GO
/****** Object:  View [dbo].[ACCUM_BODY_VW]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ACCUM_BODY_VW]
AS
SELECT        dbo.ACCUM_INTEREST_VW.ACCUM_INT_AMOUNT, dbo.STATEMENT_INFO.CONTRACTNO, dbo.ACCUM_INTEREST_VW.ACURN
FROM            dbo.ACCUM_INTEREST_VW INNER JOIN
                         dbo.STATEMENT_INFO ON dbo.ACCUM_INTEREST_VW.StatementNo = dbo.STATEMENT_INFO.STATEMENTNO AND dbo.ACCUM_INTEREST_VW.ACURN = dbo.STATEMENT_INFO.ACURN



GO
/****** Object:  View [dbo].[Operation_VW]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Operation_VW]
AS
SELECT     STATEMENTNO, O, OD, TD, A, ACURC, ACURN, D, DE, P, OA, OCC, OC, TL, TERMN, CF, S, MN, DOCNO, NO, ACCOUNT, ACC, FR, APPROVAL, AMOUNTSIGN
FROM         dbo.OPERATION
--WHERE     (DE LIKE '%Rev%')


GO
/****** Object:  View [dbo].[Qry_Card_Account]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Qry_Card_Account]
AS
SELECT        s.BANK_CODE, s.CONTRACTNO, s.IDCLIENT, SUBSTRING(s.MAIN_CARD, 1, 16) AS PAN, s.TITLE, s.CLIENT, s.JOBTITLE, s.STATEMENTNO, s.STREETADDRESS AS ADDRESS, s.REGION, s.COUNTRY, s.EMAIL, s.MOBILE, 
                         s.NEXT_STATEMENT_DATE, s.PAYMENT_DATE AS PAYDATE, s.STATEMENT_DATE AS STDATE, a.ACCOUNTNO, a.ACURN AS CURR, a.SBALANCE AS PBAL, a.ACURC, a.EBALANCE AS LASTBAL, a.AVAIL_CRD_LIMIT AS AVLIMIT, 
                         a.AVAIL_CASH_LIMIT AS AVCASHLIMIT, a.SUM_WITHDRAWAL AS CASHADV, a.SUM_INTEREST AS TOTINTEREST, a.OVLFEE_AMOUNT, a.OVDFEE_AMOUNT AS ODAMOUNT, a.MIN_AMOUNT_DUE AS MINPAY, 
                         a.CRD_LIMIT AS TOTLIMIT, a.SUM_PURCHASE AS TOTPURCHASE, a.SUM_REVERSE, a.SUM_CREDIT, a.SUM_OTHER, s.ZIP, a.CASH_LIMIT, s.STARTDATE, s.ENDDATE, s.PROMOTIONALTEXT, s.INDICATOR
FROM            dbo.STATEMENT AS s INNER JOIN
                         dbo.ACCOUNT AS a ON s.STATEMENTNO = a.STATEMENTNO

GO
/****** Object:  View [dbo].[QRY_STATEMENT]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QRY_STATEMENT]
AS
SELECT     s.BANK_CODE, s.TITLE + ' ' + s.CLIENT AS ctitle, s.ADDRESS, s.EMAIL, s.CITY, s.COUNTRY, SUBSTRING(s.MAIN_CARD, 1, 16) AS pan, s.PAYMENT_DATE AS pdate, s.STATEMENT_DATE AS stdate, 
                      s.ENDDATE AS edate, a.EBALANCE AS lastbal, a.MIN_AMOUNT_DUE AS minpay, a.CRD_LIMIT AS totlimit, a.AVAIL_CRD_LIMIT AS avlimit, a.AVAIL_CASH_LIMIT AS avcashlimit, 
                      a.SUM_PURCHASE AS totPurchase, a.SUM_WITHDRAWAL AS cashAdv, a.SUM_INTEREST AS totInterest, a.OVDFEE_AMOUNT AS odAmount, a.SBALANCE AS pbal, a.ACURN AS curr, o.TD AS trndate, 
                      o.OD AS podate, o.D + ' ' + o.TL AS trndesc, o.A AS amount, o.APPROVAL AS refcode, o.AMOUNTSIGN, o.FR, o.SERIALNO
FROM         dbo.STATEMENT AS s INNER JOIN
                      dbo.ACCOUNT AS a ON s.STATEMENTNO = a.STATEMENTNO INNER JOIN
                      dbo.OPERATION AS o ON s.STATEMENTNO = o.STATEMENTNO
WHERE     (a.ACURN = 'BDT') AND (o.A <> '0.00')


GO
/****** Object:  View [dbo].[QRY_STATEMENT_USD]    Script Date: 1/8/2022 2:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QRY_STATEMENT_USD]
AS
SELECT     s.BANK_CODE, s.TITLE + ' ' + s.CLIENT AS ctitle, s.ADDRESS, s.EMAIL, s.CITY, s.COUNTRY, SUBSTRING(s.MAIN_CARD, 1, 16) AS pan, s.PAYMENT_DATE AS pdate, s.STATEMENT_DATE AS stdate, 
                      s.ENDDATE AS edate, a.EBALANCE AS lastbal, a.MIN_AMOUNT_DUE AS minpay, a.CRD_LIMIT AS totlimit, a.AVAIL_CRD_LIMIT AS avlimit, a.AVAIL_CASH_LIMIT AS avcashlimit, 
                      a.SUM_PURCHASE AS totPurchase, a.SUM_WITHDRAWAL AS cashAdv, a.SUM_INTEREST AS totInterest, a.OVDFEE_AMOUNT AS odAmount, a.SBALANCE AS pbal, a.ACURN AS curr, o.TD AS trndate, 
                      o.OD AS podate, o.TL + ' ' + o.MN AS trndesc, o.A AS amount, o.APPROVAL AS refcode, o.SERIALNO, o.FR, o.AMOUNTSIGN
FROM         dbo.STATEMENT AS s INNER JOIN
                      dbo.ACCOUNT AS a ON s.STATEMENTNO = a.STATEMENTNO INNER JOIN
                      dbo.OPERATION AS o ON s.STATEMENTNO = o.STATEMENTNO
WHERE     (a.ACURN = 'USD') AND (o.APPROVAL <> '')


GO
ALTER TABLE [dbo].[CNF_SMTP_SERVER] ADD  CONSTRAINT [DF_CNF_SMTP_SERVER_EnableSSL]  DEFAULT ((0)) FOR [EnableSSL]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ACCUM_INTEREST_VW"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 254
               Right = 491
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT_INFO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 231
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1935
         Width = 1920
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1965
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ACCUM_BODY_VW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ACCUM_BODY_VW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OPERATION"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Operation_VW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Operation_VW'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[59] 4[5] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 159
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 260
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 30
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 37
         Width = 284
         Width = 1500
         Width = 2010
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1935
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2670
         Alias = 1290
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         Grou' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Qry_Card_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'pBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Qry_Card_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Qry_Card_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[22] 2[35] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 240
            End
            DisplayFlags = 280
            TopColumn = 37
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 278
               Bottom = 121
               Right = 456
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 6
               Left = 494
               Bottom = 121
               Right = 648
            End
            DisplayFlags = 280
            TopColumn = 23
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 27
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 12510
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2670
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         Sort' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QRY_STATEMENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Order = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QRY_STATEMENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QRY_STATEMENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 125
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "o"
            Begin Extent = 
               Top = 17
               Left = 555
               Bottom = 136
               Right = 717
            End
            DisplayFlags = 280
            TopColumn = 22
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QRY_STATEMENT_USD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'QRY_STATEMENT_USD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[19] 4[5] 2[40] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[75] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 12
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "STATEMENT_INFO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 563
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "TRANSFER_EMI"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 126
               Right = 451
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUM_OTHER_FORFIRSTEMI"
            Begin Extent = 
               Top = 126
               Left = 286
               Bottom = 246
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ACCUM_INTEREST_VW"
            Begin Extent = 
               Top = 564
               Left = 38
               Bottom = 684
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BonusContrAcc"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 126
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT"
            Begin Extent = 
               Top = 127
               Left = 757
               Bottom = 368
               Right = 967
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "STATEMENT_DETAILS"
            Begin Extent = 
               Top = 35
               Left = 433
               Bottom = 301
               Right = 6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_BDT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'48
            End
            DisplayFlags = 280
            TopColumn = 7
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      PaneHidden = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 47
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 6870
         Width = 1500
         Width = 1500
         Width = 2130
         Width = 1560
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 5550
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1920
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 5520
         Alias = 900
         Table = 2145
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_BDT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_BDT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[75] 4[5] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CARD"
            Begin Extent = 
               Top = 6
               Left = 504
               Bottom = 198
               Right = 675
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT"
            Begin Extent = 
               Top = 211
               Left = 569
               Bottom = 341
               Right = 788
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT_DETAILS"
            Begin Extent = 
               Top = 95
               Left = 706
               Bottom = 280
               Right = 877
            End
            DisplayFlags = 280
            TopColumn = 16
         End
         Begin Table = "STATEMENT_INFO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 397
               Right = 257
            End
            DisplayFlags = 280
            TopColumn = 24
         End
         Begin Table = "ACCUM_INTEREST_VW"
            Begin Extent = 
               Top = 181
               Left = 403
               Bottom = 311
               Right = 621
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BonusContrAcc"
            Begin Extent = 
               Top = 6
               Left = 295
               Bottom = 136
               Right = 466
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'statement_DUAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'statement_DUAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'statement_DUAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[49] 4[3] 2[29] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "STATEMENT_INFO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 319
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TRANSFER_EMI"
            Begin Extent = 
               Top = 5
               Left = 466
               Bottom = 125
               Right = 631
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUM_OTHER_FORFIRSTEMI"
            Begin Extent = 
               Top = 126
               Left = 286
               Bottom = 246
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ACCUM_INTEREST_VW"
            Begin Extent = 
               Top = 324
               Left = 38
               Bottom = 444
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BonusContrAcc"
            Begin Extent = 
               Top = 246
               Left = 286
               Bottom = 366
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT"
            Begin Extent = 
               Top = 5
               Left = 580
               Bottom = 352
               Right = 790
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT_DETAILS"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 257
               Right = 448' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_USD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
            End
            DisplayFlags = 280
            TopColumn = 8
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 41
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_USD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Statement_USD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[8] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "STATEMENT_DETAILS"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 225
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "STATEMENT_INFO"
            Begin Extent = 
               Top = 0
               Left = 492
               Bottom = 253
               Right = 702
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 43
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1920
         Width = 1560
         Width = 1515
         Width = 1560
         Width = 1500
         Width = 1665
         Width = 3165
         Width = 1500
         Width = 3165
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 90' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SUM_OTHER_FORFIRSTEMI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'0
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SUM_OTHER_FORFIRSTEMI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SUM_OTHER_FORFIRSTEMI'
GO
USE [master]
GO
